{% from "messaging.html" import render_errors %}

{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container" style="width: 800px;">
<div id="legend">
  <legend>Your Profile</legend>
</div>

<form class="form-horizontal" action='/user/profile/' method="POST">
  <fieldset>
    <div class="control-group">
      <!-- Username -->
      {{ form.username.label(class_='control-label') }}
      <div class="controls"> 
      	{{ form.username(size=20, class_='input-xlarge') }}
      	<p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      {{ form.email.label(class_='control-label') }}      
      <div class="controls">
      	{{ form.email(class_='input-xlarge') }}
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      {{ form.password.label(class_='control-label') }}
      <div class="controls">
      	{{ form.password(class_='input-xlarge') }}
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
    
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

{{ render_errors(form) }}

{% endblock %}