<% if(type === "Success"){ %>
    <div class="alert alert-success">
      <%= message%>
    </div>
<%} else if(type === "Info"){ %>
    <div class="alert alert-info">
      <%= message%>
    </div>
<%} else if(type === "Warning"){ %>
    <div class="alert alert-block">
      <%= message%>
    </div>
<%} else if(type === "Error"){ %>
    <div class="alert alert-error">
      <%= message%>
    </div>
<%}%>