/* line 4, ../../src/sass/messenger.sass */
.popover {
  width:300px;
}

.mini-chart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.quiz-list-item{
    height: 64px;
    margin-top: 0;
    border-bottom: 1px solid #e5e5e5;
}

.quiz-list-item:hover{
    background-color: rgb(248, 248, 248);
    margin-top: 0;
    border-bottom: 1px solid #e5e5e5;
}

.quiz-list-item > a{
    text-decoration: none !important;
}

.no-results-mini-chart{
    font: bold 20px serif;
    fill: rgb(189, 189, 189);
    color: #000;
    text-decoration: none !important;
}

#question-map img {
  max-width: none;
}

#question-map img {
  max-width: none;
}

#question-map label {
  width : auto; display : inline;
}

#question-map{
   top : 40px;
   height : 100%;
}

#left-menu{
   /* display : none; */
   overflow : auto;
   position : fixed;
   padding: 25px;
   top : 40px;
   left : 0;
   width : 40%;
   bottom : 0;
   background-color : #ffffff;
   opacity : 0.9;
   box-sizing: border-box;
   filter : alpha(opacity=90);
}

.nolink, .nolink:hover{
    color: #000;
    text-decoration: none;
    border: 0;
}

.full-stretch{
   position : fixed;
   top : 0;
   left : 0;
   right : 0;
   bottom : 0;
}

.full-stretch{
   position : fixed;
   top : 0;
   left : 0;
   right : 0;
   bottom : 0;
}

#content-on-map{
   overflow : auto;
   position: fixed;
   top : 40px;
   right : 0;
   padding: 25px;
   width : 60%;
   min-width: 500px;
   bottom : 0;
   background-color : #ffffff;
   opacity : 0.9;
   box-sizing: border-box;
   filter : alpha(opacity=90);
}

.close-edit {
    float: left;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

#left-menu{
   /* display : none; */
   overflow : auto;
   position : fixed;
   padding: 25px;
   top : 40px;
   left : 0;
   width : 40%;
   bottom : 0;
   background-color : #ffffff;
   opacity : 0.9;
   box-sizing: border-box;
   filter : alpha(opacity=90);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-rect{
  fill: steelblue;
  cursor: pointer;
}

.bar-text{
  cursor: pointer;
}

.x.axis path {
  display: none;
}

.chart-title {
  font: 60px serif;
  fill: rgb(189, 189, 189);
}

body
{
    font-family: sans-serif;

    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    min-width:1000px;
    width: auto !important;
    width:1000px;
}

input[type="checkbox"] {
	margin-top: 0;
}

blockquote {
	border-left: 2px dotted #888;
	padding-left: 5px;
	background: #d0f0ff;
}

.wmd-panel
{
	min-width: 500px;
}

.wmd-button-bar
{
	width: 100%;
	background-color: Silver;
}

.wmd-input
{
	/* width: 100%; */
	margin-right: 5px;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview
{
	margin-right:-10px;
/* 	background-color: #c0e0ff; */
}

.wmd-button-row
{
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	height: 20px;
}

.wmd-spacer
{
	width: 1px;
	height: 20px;
	margin-left: 14px;

	position: absolute;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/static/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 48px;
}
.wmd-spacer2
{
    left: 125px;
}
.wmd-spacer3
{
    left: 400px;
}
.wmd-spacer4
{
    left: 473px;
}
.wmd-spacer5
{
    left: 450px;
}
.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.nolink, .nolink:hover{
	color: #000;
	text-decoration: none;
	border: 0;
}

.close-edit{
	float:left;
	margin-right: 15px;
	margin-left: 5px;
	margin-top: 10px;
}

