<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>mysite-foobar.rhcloud.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <!-- Le styles -->
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-responsive.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="csslibs/messenger.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="csslibs/messenger-theme-future.css") }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->        
    <script type="text/javascript" src="{{ url_for('static', filename="jslibs/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="jslibs/jquery.tmpl.min.js") }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename="jslibs/jquery.timeago.js") }}"></script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename="jslibs/messenger.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="jslibs/messenger-theme-future.js") }}"></script> -->	
</head>
 
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ url_for('index')}}">Enigma53</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ url_for('index')}}">Articles</a></li>
                        <li><a href="{{ url_for('quiz_bp.quiz_list')}}"><i class="icon-th-list"></i> Quizes</a></li>
                    </ul>
					<ul class="nav pull-right">
						{% if current_user.is_authenticated() %}		
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ current_user.name }} <b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li><a href="{{ url_for('user_bp.profile') }}"><i class="icon-cog"></i> Profile</a></li>	                            
	                            <li class="divider"></li>
	                            <li><a href="{{ url_for('auth_bp.logout') }}"><i class="icon-off"></i> Logout</a></li>
	                        </ul>
                    	</li>
						{% else %}           	
                    	<li><a href="{{ url_for('auth_bp.signup') }}">Sign Up</a></li>
                        <li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
							<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
								<form method="post" action="{{ url_for('auth_bp.login') }}" accept-charset="UTF-8">
									<input style="margin-bottom: 15px;" type="text" placeholder="Email" id="email" name="email">
									<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
									<input style="float: left; margin-right: 10px;" type="checkbox" name="remember" id="remember" value="yes">
									<label class="string optional" for="user_remember_me"> Remember me</label>
									<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
									<label style="text-align:center;margin-top:5px">or</label>
	                                <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
									<input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
								</form>
							</div>							
						</li>
						{% endif %}       
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
 {% block header %}
 {% endblock header %}
    <!-- <div class="container">
        <div class="row">
            <div class="span12"> -->
                {% block content %}
                {% endblock content %}
            <!-- </div>
        </div> 
    </div>  --><!-- /container -->

</body>
</html>
