{% extends "base.html" %}

{% block content %}
<style>
img {
  max-width: none;
}
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div class="map-full-stretch" style="z-index:-5; height:100%">

	<div id="quiz-map" style="height: 100%"></div>

</div>
{% endblock content %}

{% block bottom %}

<script id="jsdata" type="text/javascript">
	var jsdata = {{ jsdata|tojson|safe }};
</script>

<script type="text/javascript" src="/static/steal/steal.js?landingpage/landingpage.js"></script>
{% endblock bottom %}