{% extends "base.html" %}

{% block style %}
body{
    background-color: #F8F8F8;
}
{% endblock style %}

{% block content %}
<style>
img {
  max-width: none;
}
.landing-text-medium{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "urbana",sans-serif;
    font-size: 30px;
    color: #666;
    text-align: center;
}
.landing-text-large{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "urbana",sans-serif;
    font-size: 40px;
    color: #666;
    text-align: center;
}
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div style="text-align: center; padding-top: 50px;">
    <ul type="none" style="margin-left: 0">
        <li class="landing-text-large" style="line-height: normal;
                        margin-left: auto; margin-right: auto; width: 800px;">
            <ul type="none">
                <li style="color: #000; margin-bottom: 40px;">
                    What is mNemoCity?
                </li>
                <li style="margin-top: 20px; text-align: left;">
                    - Todo list
                </li>
                <li style="text-align: left; font-size: 18px; color: #aaa;margin-top: 10px;margin-left: 25px;">
                    (to collect all material you want to memorize to repeat it later)
                </li>
                <li style="margin-top: 20px; text-align: left;">
                    - The Cherlock Holmes memory technique
                </li>
                <li style="text-align: left; font-size: 18px; color: #aaa;margin-top: 10px;margin-left: 25px;">
                    (associates information you want to remember with a familiar place)
                </li>
                <li style="margin-top: 20px; text-align: left;">
                    - Spaced repetition
                </li>
                <li style="text-align: left; font-size: 18px; color: #aaa;margin-top: 10px;margin-left: 25px;">
                    (in development...)
                </li>
                <li style="margin-top: 20px; text-align: left;">
                    - For professionals, students and learners
                </li>
                <li style="text-align: left; font-size: 18px; color: #aaa;margin-top: 10px;margin-left: 25px;">
                    (programmers, financiers, doctors, designers, others...)
                </li>
            </ul>
        </li>
        <li class="landing-text-large">
            1. Find or create a quiz
        </li>
        <li class="landing-text-large">
            <img style="width: 890px; height: 648px" src="/static/edit.png"/>
        </li>
        <li class="landing-text-large">
            2. Take the quiz
        </li>
        <li class="landing-text-large">
            <img style="width: 890px; height: 617px" src="/static/quiz.png"/>
        </li>
        <li class="landing-text-large">
            3. See your results and track your progress
        </li>
        <li class="landing-text-large">
            <img style="width: 890px; height: 648px" src="/static/result.png"/>
        </li>
        <li class="landing-text-large">
            Click any quiz to see how it works...
        </li>
        <li class="landing-text-large">
            <div class="map-full-stretch" style="z-index:-5; height:300px; position: static; text-align: left">
                <div id="quiz-map" style="height: 100%"></div>
            </div>
        </li>
        <li class="landing-text-large">
            <button style="width: 200px;
                    margin-left: auto;
                    margin-right: auto;"
                    class="btn btn-large btn-block btn-primary"
                    onclick="window.location.href='/auth/signup'"
                    type="button">Sign up (Free!)</button>
        </li>
    </ul>
</div>

{% endblock content %}

{% block bottom %}

<script id="jsdata" type="text/javascript">
	var jsdata = {{ jsdata|tojson|safe }};
</script>

<script type="text/javascript" src="/static/steal/steal.js?landingpage/landingpage.js"></script>
{% endblock bottom %}