{% macro render_errors(form) %}
{% if form and form.errors %}
<script type="text/javascript">
	$(document).ready(function() {
	Messenger.options = {
			extraClasses: 'messenger-fixed messenger-on-bottom',
			'maxMessages': 3,
			theme: 'air',        		
		};

	{% for field_name, field_errors in form.errors | dictsort if field_errors %}
        {% for error in field_errors %}
 	   		Messenger().post({
        		  message: "{{ form[field_name].label.text }} : {{ error }}",
          		  type : 'error',
          		  showCloseButton: true
              });
        {% endfor %}
    {% endfor %}
	
	});	
</script>
{% endif %}
{% endmacro %}