{% extends "base.html" %} {% block content %}
<div class="container">	
	<div class="row">
		<div class="span4 offset4 ">
			<legend>Please Sign In</legend>
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert" href="#">x</a>Incorrect
				Username or Password!
			</div>
			<form method="POST" action="{{ url_for('auth_bp.signup')}}" accept-charset="UTF-8">
				<input type="text" id="fullname" class="span4" name="fullname" placeholder="Display Name"> 
				<input type="text" id="email" class="span4" name="email" placeholder="Email">
				<input type="password" id="password" class="span4" name="password" placeholder="Password">
				<button type="submit" name="submit" value="Login" class="btn btn-primary">Sign Up</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}