<td>
	<a href="/quiz/<%= quizid%>/home/" class="btn btn-link">Home</a>
</td>
<td>
    <a href="/quiz/<%= quizid%>/" class="btn btn-primary">Start</a>
</td>
<td>
    <%= title%>
</td>                
<td>
    <a href="/quiz/<%= quizid%>/edit/" class="btn btn-link pull-right">Edit</a>
	<button class="btn btn-link quiz-list-item-delete pull-right" type="button">Delete</button>
</td>