<td>
    <button class="btn btn-primary quiz-list-item-start" type="button">Start</button>
</td>
<td>
    <button class="btn btn-link quiz-title-click" type="button"><%= title%></button>
</td>                
<td>
    <button class="btn btn-link quiz-list-item-edit pull-right" type="button">Edit</button>
    <button class="btn btn-link quiz-list-item-delete pull-right" type="button">Delete</button>
</td>