<div id="answer<%= answer.id %>" class="qanswer input-prepend input-append" style="width:auto; margin-right:100px">
    <a class="qanswer-check btn btn-primary">
        <% if(answer.correct === 'T'){ %>
        <i class="icon-ok icon-white"></i>
        <% }else{ %>
        <i class="icon-ban-circle icon-white"></i>
        <%}%>
    </a>
    <input type="text" class="qanswer-input input-block-level" placeholder="Type your answer here..." value="<%= answer.atext %>">
    <div class="btn-group">
        <a class="qanswer-move btn btn-primary">
            <span class="icon-move icon-white"></span>
        </a>
        <a class="qanswer-delete btn btn-primary">
            <span class="icon-trash icon-white" ></span>
        </a>
    </div>
</div>