<div class="bs-docs-grid" style="width: 100%;">
	<div class="row-fluid">
		<textarea class="qtext" rows="7" style="width:100%" placeholder="Type your question...">
		    <%= qtext %>
		</textarea>
	</div>
	<div class="row-fluid" style="width: 100%">
		<div class="pull-left">
			<a class="qanswer-add btn btn-success">
				<i class="icon-plus icon-white"></i>
			</a>
		</div>		
		<div class="pull-right">
			<% if(!isNew){ %>
			<button class="btn question-delete-btn btn-link" type="button">Delete</button>
			<%}%>
		</div>
		<div style="margin:auto; width:180px;">
			<button class="question-back btn" type="button">Back</button> 
			<button class="question-<% if(!isNew){ %>save<% }else{ %>create<% } %>  btn btn-success" type="button"><% if(!isNew){ %> Save <% }else{ %> Create <% } %> </button>
			<button class="question-next btn" type="button" >Next</button>
		</div>
	</div>
	<div class="row-fluid answers" style="width: 100%; margin-top:5px;">
		    <% for(var i=0; i< answers.length; i++){ %>		
		    <div id="answer<%= answers[i].id %>" class="qanswer input-prepend input-append" style="width:auto; margin-right:100px">
		        <a class="qanswer-check btn btn-primary pull-left">
		            <% if(answers[i].correct === 'T'){ %>
		            <i class="icon-ok icon-white"></i>
		            <% }else{ %>
		            <i class="icon-ban-circle icon-white"></i>
		            <%}%>
		        </a>
		        <input type="text" class="qanswer-input input-block-level" placeholder="Type your answer here..." value="<%= answers[i].atext %>">
		        <div class="btn-group">
		            <a class="qanswer-move btn btn-primary">
		                <span class="icon-move icon-white"></span>
		            </a>
		            <a class="qanswer-delete btn btn-primary">
		                <span class="icon-trash icon-white" ></span>
		            </a>
		        </div>
		    </div>
		    <%} %>
			</div>			
	</div>
</div>			
