<textarea class="qtext" rows="7" style="width: 650px;" placeholder="Type your question...">
    <%= qtext %>
</textarea>

<div class="input-prepend input-append">
    <a class="add-checked btn btn-success">
        <i class="icon-ok icon-white"></i>
    </a>
    <input type="text" class="add-input input-xxlarge" placeholder="Type your answer here...">
    <a style="width: 53px" class="qanswer-add btn btn-success">
        <i class="icon-plus icon-white"></i> Add
    </a>
</div>

<div class="answers">
    <% for(var i=0; i< answers.length; i++){ %>

    <div id="answer<%= answers[i].id %>" class="qanswer input-prepend input-append">
        <a class="qanswer-check btn btn-primary">
            <% if(answers[i].correct == 1){ %>
            <i class="icon-ok icon-white"></i>
            <% }else{ %>
            <i class="icon-ban-circle icon-white"></i>
            <%}%>
        </a>
        <input type="text" class="qanswer-input input-xxlarge" value="<%= answers[i].atext %>">
        <div class="btn-group">
            <a class="qanswer-move btn btn-primary">
                <span class="icon-move icon-white"></span>
            </a>
            <a class="qanswer-delete btn btn-primary">
                <span class="icon-trash icon-white" ></span>
            </a>
        </div>
    </div>
    <%} %>
</div>
<div align="center">
	<button class="question-submit btn btn-success" type="button">Submit</button>
	<button class="question-cancel btn" type="button" >Cancel</button>
</div>