<div>
    <div class="form-actions">
        <%= question.qtext %>
    </div>

    <blockquote style="margin-bottom: 15px">
         for(var i=0; i < que stion.answers.length; i++){
        <label class="checkbox">
            <input type="checkbox">	 que stion.answers[i].atext
        </label>
         }
    </blockquote>
</div>