<div style="margin-top: 5px" class="form-actions">
    <%== rendered_qtext %>
</div>

<div align="center">
    <button class="question-back btn" type="button">Back</button>
	<button class="question-submit-btn  btn btn-success" type="button">Submit</button>
	<button class="question-next btn" type="button" >Next</button>
</div>
