<div class="form-actions">
    <%= qtext %>
</div>

<blockquote style="margin-bottom: 15px">
    <% for(var i=0; i < answers.length; i++){ %>
    <label class="checkbox">
        <input type="checkbox">	 <%= answers[i].atext%>
    </label>
    <%}%>
</blockquote>
