{% extends "base.html" %}

{% block content %} 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div class="map-full-stretch">
	<div id="question-map"></div>
</div>

<div id="content-on-map">
	<div id="legend">
	  <legend>Quiz - {{ quiz.title }}</legend>
	</div>
	<!-- TODO: change to normal buttons!!! -->
	<div class="tabbable"> 
		<div class="tabbable" style="margin-right:140px">
		  <ul class="nav nav-pills">
			  <li class="pull-right"><a style="background-color: #08c; color: #fff;" href="/quiz/{{quiz.qid}}/finish/">Finish Quiz</a></li>
		  </ul>
		</div>
	</div>	
	<div id="quiz-navigator" name="quiz{{quiz.qid}}" class="tabbable tabs-right">
	    <ul id="tabs" class="nav nav-tabs">
	        {%for item in quiz.questions %}
	        {% if loop.first %}
	        <li id="tab-question{{item.qid}}" class="active question-tab tab-question-item">
	            <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
	        </li>
	        {% else %}
	        <li id="tab-question{{item.qid}}" class="question-tab tab-question-item">
	            <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
	        </li>
	        {% endif %}
	        {% endfor %}
	    </ul>
	    <div id="tabs-container" class="tab-content">
	        {%for item in quiz.questions %}
	        {% if loop.first %}
	        <div class="tab-pane active" id="tab-question-page{{item.qid}}">
	            <div class='question-item' name='question{{item.qid}}'></div>
	        </div>
	        {% else %}
	        <div class="tab-pane" id="tab-question-page{{item.qid}}">
	            <div class='question-item' name='question{{item.qid}}'></div>
	        </div>
	        {% endif %}
	        {% endfor %}
	    </div>
	</div>
</div>
 
<script type="text/javascript" src="/static/steal/steal.js?quizpage/quizpage.js"></script>

{% endblock content %}
