{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/static/steal/steal.js?quizpage/quizlistpage.js"></script>

<div class="container quiz-list-container" style="width: 800px;">
    <div style="height: 50px;" class="page-message"></div>   
	
	<div class="input-append">
  		<input class="input-quiz-list" style="width:720px" type="text">
  		<button class="btn btn-success quiz-list-create" type="button">Create</button>
	</div>
	      
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="span1"></th>
            <th class="span1"></th>
            <th class="span5"></th>
            <th class="span7"></th>
        </tr>
        </thead>
        <tbody class="quiz-list-table">	        	
        {%for item in quizes %}
            <tr name="quiz{{item.id}}" class="quizpage_quiz_listitem">
            	<td>
            		<a href="/quiz/{{item.id}}/home/" class="btn btn-link">Home</a>
                </td>
                <td>
                	<a href="/quiz/{{item.id}}/" class="btn btn-primary">Start</a>
                </td>
                <td>
                	{{item.title}}
                </td>                
                <td>
                	<a href="/quiz/{{item.id}}/edit/" class="btn btn-link pull-right">Edit</a>
                    <button class="btn btn-link quiz-list-item-delete pull-right" type="button">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}