{% macro render_left_menu(quizes) %}

<div id="left-menu" class="quiz-list-container">

    <legend style="margin-bottom:3px">
        <button title="Click here to close left area"  class="close close-edit pull-right" onClick="quizMenuItemHandler();">&times;</button>
		Quiz list   <button id="create-question-btn" class="btn btn-success pull-right">Create</button>
	</legend>

	{%for qz in quizes %}
	<div id="data-quiz-{{qz.qid}}"
            style="clear: both; cursor: pointer; position: relative;"
            class="quiz-list-item"
            onclick="window.location.href='/quiz/{{ qz.qid }}/'"
            {% if qz.latitude and qz.longitude %}
                data-lat="{{qz.latitude}}"
                data-lon="{{qz.longitude}}"
            {% endif %}>
		<a style="float:left; margin-right: 5px;" href="/quiz/{{ qz.qid }}/"></a>
        <a id="quiz-title-{{ qz.qid }}" class="nolink" href="/quiz/{{ qz.qid }}/">
            <b>{{ qz.title }}</b>
        </a>
        <div style="position: absolute; right: 10px;top: 0px;"><a href="/quiz/{{qz.qid}}/start/">Start</a></div>

        <a class="nolink quiz-text" href="/quiz/{{ qz.qid }}/"></a>
        {% if qz.permission == 'private' %}
        <div style="position: absolute; right: 8px; bottom: 2px; font-size: 8pt;"><a class="nolink" href="/quiz/{{qz.qid}}/#settings">private</a></div>
        {% else %}
        <div style="position: absolute; right: 8px; bottom: 2px; font-size: 8pt;"><a class="nolink" href="/quiz/{{qz.qid}}/#settings">public</a></div>
        {% endif %}
    </div>

    {% endfor %}
</div>

<script type="text/javascript">
    window.menu_width = 0;

    function updateLeftMenuWidth(){
        if($(window).has("#content-on-map")){
            var wWidth = $(window).width();
            if($("#content-on-map").length > 0){
                var l = $("#content-on-map").offset().left;

                if(979 < wWidth ){
                    window.menu_width = l;
                    $("#left-menu").css('width', l + "px");
                }else{
                    window.menu_width = wWidth/2;
                    $("#left-menu").css('width', wWidth/2 + "px");
                }
            }
        }
    }
    $(window).bind("resize", updateLeftMenuWidth);

    $(document).ready(function() {
        updateLeftMenuWidth();
    });
</script>


{% endmacro %}