{% extends "base.html" %}

{% block content %} 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div class="map-full-stretch">
	<div id="question-map"></div>
</div>

<div id="content-on-map">
	<div id="legend">
	  <legend>Quiz - {{ quiz.title }}</legend>
        <p style="font-size: 20px;left:20px;font-family: serif;line-height: 1.5;position: absolute;margin-right: 150px;top: 75px;">To access full functionality of mNemoCity such as saving your results, tracking you progress <a href="/auth/signup">please signup</a></p>
	</div>
	<div id="quiz-navigator" name="quiz{{quiz.qid}}" class="tabbable tabs-right">
        <div class="tabbable">
            <div class="tabbable" style="margin-right:10px">
              <ul class="nav nav-pills">
                  {% if  quiz.questions|length > 0 %}
                    <li class="pull-right show-quiz"><a style="background-color: #08c; color: #fff;" id="finish-public-quiz-btn" href="#finish">Finish Quiz</a></li>
                    <li style="display: none" class="pull-right show-results"><a id="try-again-public-quiz-btn" style="background-color: #08c; color: #fff;" href="/quiz/{{quiz.qid}}/">Try again</a></li>
                  {% endif %}
              </ul>
            </div>
        </div>

	    <ul id="tabs" class="nav nav-tabs show-quiz">
            {% if  quiz.questions|length > 0 %}
                {%for item in quiz.questions %}
                {% if loop.first %}
                <li id="tab-question{{item.qid}}" class="active question-tab tab-question-item">
                    <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
                </li>
                {% else %}
                <li id="tab-question{{item.qid}}" class="question-tab tab-question-item">
                    <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
                </li>
                {% endif %}
                {% endfor %}
            {% endif %}
	    </ul>
	    <div id="tabs-container" class="tab-content show-quiz">
            {% if  quiz.questions|length > 0 %}
                {%for item in quiz.questions %}
                {% if loop.first %}
                <div class="tab-pane active" id="tab-question-page{{item.qid}}">
                    <div class='question-item' name='question{{item.qid}}'></div>
                </div>
                {% else %}
                <div class="tab-pane" id="tab-question-page{{item.qid}}">
                    <div class='question-item' name='question{{item.qid}}'></div>
                </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <div class="chart-title" style="margin-top: 60px; text-align: center">No questions found</div>
            {% endif %}
	    </div>

        <div style="display:none" id="question-results" class="show-results">
        </div>
	</div>
</div>

<script type="text/javascript">
    var jsdata = {{ jsdata|tojson|safe }};
</script>
<script type="text/javascript" src="/static/steal/steal.js?quizpage/publicquizpage.js"></script>
{% endblock content %}
