{% from "render_question.html" import render_question_edit %}
{% from "quiz_macros.html" import render_left_menu %}
{% from "site_tour.html" import render_tour %}

{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div id="question-map-hint" style="position : fixed; left:250px; top:350px;">.</div>

{% endblock header %}

{% block content %}
<div class="full-stretch">
	<div id="question-map" class="full-stretch"></div>
</div>

{{ render_left_menu(quizes) }}

<div id="content-on-map" title="{{ quiz.qid }}">
	<div id="legend">
	  <legend id="quiz-title-legend">
	  Quiz - {{ quiz.title }}
	  <button class="close close-edit" onClick="window.location.href='/quiz/list/'">&times;</button>
	  </legend>
	</div>
	<div class="tabbable"> 
		<div id="quiz-menu" class="tabbable" style="margin-right:140px">
		  <ul class="nav nav-pills">
			  <li ><a href="#tab-results" data-toggle="tab">Results</a></li>
			  <li class="active" ><a href="#tab-edit" data-toggle="tab">Edit</a></li>
			  <li ><a href="#tab-settings" data-toggle="tab">Settings</a></li>
			  <li class="pull-right"><a style="background-color: rgb(224, 28, 28); color:#fff;" href="/quiz/{{quiz.qid}}/">Start Quiz</a></li>
		  </ul>
		</div>
	  <div class="tab-content">
	    <div class="tab-pane" id="tab-results">
	      <div id="results-chart"></div>
	    </div>
	    <div class="tab-pane active" id="tab-edit">
	      <div id="quiz-navigator" name="quiz{{quiz.qid}}" class="tabbable tabs-right" >
			<ul id="tabs" class="nav nav-tabs">
			    {%for item in quiz.questions %}
			    <li id="tab-question{{item.qid}}" class="question-tab tab-question-item {% if loop.first %}active{% endif %}">
			        <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
			    </li>
			    {% endfor %}
			</ul>	
			<div id="tabs-container" class="tab-content">        	
			    {%for item in quiz.questions %}
			    <div id="tab-question-page{{item.qid}}" class="tab-pane {% if loop.first %}active{% endif %}" style="margin-right:20px">
			         {{render_question_edit(item) }}
			    </div>
			    {% endfor %}
			</div>	
		  </div>
	    </div>
	    <div class="tab-pane" id="tab-settings">
			<label style="float:left; margin-right:15px">Title</label>
			<input id="quiz-title-input" type="text" value="{{ quiz.title }}" class="input-xlarge" >
			<p style="margin-left:40px">Quiz title can contain any letters or numbers</p>
			<button id="settings-save-btn" class="btn btn-success">Save</button>
			<button id="settings-delete-btn" class="btn-link">Delete</button>
	    </div>
	  </div>
	</div>
</div>

{% endblock content %}

{% block bottom %}
<script>
	onQuizesMenuItemClick = function(visible){
		if(visible){
			$("#left-menu").show();	
		}else{
			$("#left-menu").hide();
		}		
	};
</script>

<script id="jsdata" type="text/javascript">
	var jsdata = {{ jsdata|tojson|safe }};
</script>

 <!--{render_tour()}-->

<script>

    if(window.tour){
        showHideQuizMenuItem(false);
        window.tour.showStep(1);
    }

    var hash = location.hash;
    if(hash == "#edit" || hash == ""){
        $('#quiz-menu a:[href="#tab-edit"]').tab('show');
    }else if(hash == "#settings"){
        $('#quiz-menu a:[href="#tab-settings"]').tab('show');
    }else if(hash == "#results"){
        $('#quiz-menu a:[href="#tab-results"]').tab('show');
    }

    $('#quiz-menu a:[href="#tab-edit"]').click(function (e) {
        location.hash = "";
    })

    $('#quiz-menu a:[href="#tab-settings"]').click(function (e) {
        location.hash = "#settings";
    })

    $('#quiz-menu a:[href="#tab-results"]').click(function (e) {
        location.hash = "#results";
    })

</script>
<script type="text/javascript" src="/static/steal/steal.js?quizpage/quizeditpage.js"></script>
{% endblock bottom %}
