{% macro render_left_menu(quizes) %}

<div id="left-menu" class="quiz-list-container">

    <legend style="margin-bottom:3px">
        <button class="close close-edit pull-right" onClick="quizMenuItemHandler();">&times;</button>
		Quiz list   <button id="create-question-btn" class="btn btn-success pull-right">Create</button>
	</legend>

	{%for qz in quizes %}

	<div id="data-quiz-{{qz.qid}}" style="clear:both;" class="quiz-list-item" {% if qz.latitude and qz.longitude %} data-lat="{{qz.latitude}}" data-lon="{{qz.longitude}}"{% endif %}>
		<a style="float:left; margin-right: 5px;" href="/quiz/{{ qz.qid }}/edit/"></a>
        <a id="quiz-title-{{ qz.qid }}" class="nolink" href="/quiz/{{ qz.qid }}/edit/">
            <b>{{ qz.title }}</b>
        </a>
        <a class="nolink quiz-text" href="/quiz/{{ qz.qid }}/edit/"></a>
        <!--<button style="float:right" class="close close-list">×</button>-->
    </div>

    {% endfor %}
</div>


{% endmacro %}