{% extends "base.html" %}

{% block content %} 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div class="map-full-stretch">
	<div id="question-map"></div>
</div>

<div id="content-on-map">
	<div id="legend">
	  <legend>Quiz - {{ quiz.title }}</legend>
	</div>

	<div id="quiz-navigator" name="quiz{{quiz.qid}}" class="tabbable tabs-right">
        <div class="tabbable">
            <div class="tabbable" style="margin-right:140px">
              <ul class="nav nav-pills">
                  {% if  quiz.questions|length > 0 %}
                    <li class="pull-right"><a style="background-color: #08c; color: #fff;" href="/quiz/{{quiz.qid}}/finish/">Finish Quiz</a></li>
                  {% else %}
                    <li class="pull-right"><a style="background-color: #08c; color: #fff;" href="/quiz/{{quiz.qid}}/edit/">Edit Quiz</a></li>
                  {% endif %}
              </ul>
            </div>
        </div>

	    <ul id="tabs" class="nav nav-tabs show-quiz">
            {% if  quiz.questions|length > 0 %}
                {%for item in quiz.questions %}
                {% if loop.first %}
                <li id="tab-question{{item.qid}}" class="active question-tab tab-question-item">
                    <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
                </li>
                {% else %}
                <li id="tab-question{{item.qid}}" class="question-tab tab-question-item">
                    <a href="#tab-question-page{{item.qid}}" data-toggle="tab">Question {{item.qid}}</a>
                </li>
                {% endif %}
                {% endfor %}
            {% endif %}
	    </ul>
	    <div id="tabs-container" class="tab-content show-quiz">
            {% if  quiz.questions|length > 0 %}
                {%for item in quiz.questions %}
                {% if loop.first %}
                <div class="tab-pane active" id="tab-question-page{{item.qid}}">
                    <div class='question-item' name='question{{item.qid}}'></div>
                </div>
                {% else %}
                <div class="tab-pane" id="tab-question-page{{item.qid}}">
                    <div class='question-item' name='question{{item.qid}}'></div>
                </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <div class="chart-title" style="margin-top: 60px; text-align: center; font-size: 48px">No questions found</div>
                <div class="edit-caption-mini" style="margin-top: 10px; margin-bottom: 50px; text-align: center; font-size: 36px">Edit <a href="/quiz/{{quiz.qid}}/edit/">the quiz</a> to add a few questions</div>
            {% endif %}
	    </div>
	</div>
</div>

<script type="text/javascript">
    window.menu_width = $("#content-on-map").offset().left;
    var jsdata = {{ jsdata|tojson|safe }};
</script>
<script type="text/javascript" src="/static/steal/steal.js?quizpage/quizpage.js"></script>
{% endblock content %}
