{% extends "base.html" %}

{% block content %} 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<style>
	#question-map img {
	  max-width: none;
	}
	
	#question-map img { 
	  max-width: none;
	}
	
	#question-map label { 
	  width: auto; display : inline; 
	}
	
	#question-map{
	   position: absolute;
	   top: 40px;
	   left:0;
	   right:0;
	   bottom:0px;
	}
	
	#content-on-map{
	   overflow : auto;
	   position: fixed;
	   top : 40px;
	   right : 0; 
	   padding: 25px;  
	   width : 60%;
	   min-width: 700px;   
	   bottom : 0; 
	   background-color : #ffffff; 
	   opacity : 0.9;
	   box-sizing: border-box; 	   
	   filter : alpha(opacity=90);
	}
	
</style>

<div id="question-map"></div>

<div id="content-on-map">
	<div id="legend">
	  <legend>Quiz - {{ quiz.title }}</legend>
	</div>
	<!-- TODO: change to normal buttons!!! -->
	<div class="tabbable"> 
		<div class="tabbable" style="margin-right:140px">
		  <ul class="nav nav-pills">
			  <li class="pull-right"><a style="background-color: #08c; color: #fff;" href="/quiz/{{quiz.id}}/finish/">Finish Quiz</a></li>
		  </ul>
		</div>
	</div>	
	<div id="quiz-navigator" name="quiz{{quiz.id}}" class="tabbable tabs-right">
	    <ul id="tabs" class="nav nav-tabs">
	        {%for item in quiz.questions %}
	        {% if loop.first %}
	        <li id="tab-question{{item.id}}" class="active question-tab tab-question-item">
	            <a href="#tab-question-page{{item.id}}" data-toggle="tab">Question {{item.id}}</a>
	        </li>
	        {% else %}
	        <li id="tab-question{{item.id}}" class="question-tab tab-question-item">
	            <a href="#tab-question-page{{item.id}}" data-toggle="tab">Question {{item.id}}</a>
	        </li>
	        {% endif %}
	        {% endfor %}
	    </ul>
	    <div id="tabs-container" class="tab-content">
	        {%for item in quiz.questions %}
	        {% if loop.first %}
	        <div class="tab-pane active" id="tab-question-page{{item.id}}">
	            <div class='question-item' name='question{{item.id}}'></div>
	        </div>
	        {% else %}
	        <div class="tab-pane" id="tab-question-page{{item.id}}">
	            <div class='question-item' name='question{{item.id}}'></div>
	        </div>
	        {% endif %}
	        {% endfor %}
	    </div>
	</div>
</div>
 
<script type="text/javascript" src="/static/steal/steal.js?quizpage/quizpage.js"></script>

{% endblock content %}
