{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/static/steal/steal.js?quizpage"></script>

<div class="container" style="width: 800px;">
    <h4>Quiz={{ quiz.title|e }}</h4>
    {{ quiz.description }}
    <br>
    <div id="quiz-navigator" name="quiz{{quiz.id}}" class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            {%for item in quiz.questions %}
                {% if loop.first %}
                <li class="active question-tab">
                    <a href="#tab-question{{item.id}}" data-toggle="tab">Question {{item.id}}</a>
                </li>
                {% else %}
                <li class="question-tab">
                    <a href="#tab-question{{item.id}}" data-toggle="tab">Question {{item.id}}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            {%for item in quiz.questions %}
                {% if loop.first %}
                <div class="tab-pane active" id="tab-question{{item.id}}">
                    {{render_question(item)}}
                </div>
                {% else %}
                <div class="tab-pane" id="tab-question{{item.id}}">
                    {{render_question(item)}}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}